{"openapi":"3.0.3","info":{"title":"Oak OpenAPI","version":"0.3.0-5a97778d13105f708b7e78659e243928f5c4871e"},"servers":[{"url":"https://open-api.thenational.academy/api/v0"}],"paths":{"/changelog":{"get":{"operationId":"changelogChangelog","tags":["changelog"],"parameters":[],"responses":{"200":{"$ref":"#/components/responses/ChangelogResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/changelog/latest":{"get":{"operationId":"changelogLatest","tags":["changelog"],"parameters":[],"responses":{"200":{"$ref":"#/components/responses/ChangelogLatestResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/download/{slug}/type/{type}":{"get":{"operationId":"getDownloadsGetDownloads","description":"This endpoint provides a zip file containing the requested download type, except for video, which will return a direct download URL to the video file. Note that currently, worksheets and worksheet answers are contained inside the same zip file","tags":["downloads"],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"},"description":"The lesson slug","example":"imagining-you-are-the-characters-the-three-billy-goats-gruff"},{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["slidedeck","exitQuiz","exitQuizAnswers","starterQuiz","starterQuizAnswers","supplementaryResource","video","worksheet","worksheetAnswers"]},"description":"Use the this type and the lesson slug in conjunction to get a signed download URL to the asset type from the /api/download endpoint","example":"video"}],"responses":{"200":{"$ref":"#/components/responses/DownloadSlugTypeTypeResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/key-stages":{"get":{"operationId":"getKeyStagesGetKeyStages","description":"This endpoint returns all the key stages (titles and slugs) that are currently available on Oak","tags":["lists"],"parameters":[],"responses":{"200":{"$ref":"#/components/responses/KeyStagesResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/key-stages/{keyStage}/subject/{subject}/assets":{"get":{"operationId":"getAssetsGetUnitAssets","description":"This endpoint returns signed download URLs and types for the assets currently available on Oak for a given key stage and subject, optionally filtered by type and unit, grouped by lesson","tags":["assets"],"parameters":[{"name":"keyStage","in":"path","required":true,"schema":{"type":"string","enum":["ks1","ks2","ks3","ks4"]},"description":"Key stage slug to filter by, e.g. 'ks2' - note that casing is important here, and should be lowercase","example":"ks1"},{"name":"subject","in":"path","required":true,"schema":{"type":"string","enum":["english","geography","history","maths","science","music","biology","chemistry","combined-science","physics"]},"description":"Subject slug to search by, e.g. 'science' - note that casing is important here (always lowercase)","example":"english"},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["slidedeck","exitQuiz","exitQuizAnswers","starterQuiz","starterQuizAnswers","supplementaryResource","video","worksheet","worksheetAnswers"]},"description":"Use the this type and the lesson slug in conjunction to get a signed download URL to the asset type from the /api/download endpoint"},{"name":"unit","in":"query","required":false,"schema":{"type":"string"},"description":"Optional unit slug to additionally filter by","example":"word-class"},{"name":"offset","in":"query","required":false,"schema":{"anyOf":[{"not":{}},{"type":"number"}],"default":0}},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"not":{}},{"type":"number","maximum":100,"description":"Limit the number of results returned, max 100"}],"default":10},"description":"Limit the number of results returned, max 100"}],"responses":{"200":{"$ref":"#/components/responses/KeyStagesKeyStageSubjectSubjectAssetsResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/key-stages/{keyStage}/subject/{subject}/lessons":{"get":{"operationId":"getKeyStageSubjectLessonsGetKeyStageSubjectLessons","description":"This endpoint returns all the lessons (titles and slugs) that are currently available on Oak for a given subject and key stage, grouped by unit","tags":["lists","lessons"],"parameters":[{"name":"keyStage","in":"path","required":true,"schema":{"type":"string","enum":["ks1","ks2","ks3","ks4"]},"description":"Key stage slug to filter by, e.g. 'ks2' - note that casing is important here, and should be lowercase","example":"ks1"},{"name":"subject","in":"path","required":true,"schema":{"type":"string","enum":["english","geography","history","maths","science","music","biology","chemistry","combined-science","physics"]},"description":"Subject slug to filter by, e.g. 'english' - note that casing is important here, and should be lowercase","example":"english"},{"name":"unit","in":"query","required":false,"schema":{"type":"string"},"description":"Optional unit slug to additionally filter by","example":"word-class"},{"name":"offset","in":"query","required":false,"schema":{"anyOf":[{"not":{}},{"type":"number"}],"default":0}},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"not":{}},{"type":"number","maximum":100,"description":"Limit the number of results returned, max 100"}],"default":10},"description":"Limit the number of results returned, max 100"}],"responses":{"200":{"$ref":"#/components/responses/KeyStagesKeyStageSubjectSubjectLessonsResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/key-stages/{keyStage}/subject/{subject}/questions":{"get":{"operationId":"getQuestionsGetQuestionsForKeyStageAndSubject","description":"This endpoint returns all the quiz questions and answers (and indicates which answers are correct and which are distractors), grouped by lesson, for a given key stage and subject","tags":["questions"],"parameters":[{"name":"keyStage","in":"path","required":true,"schema":{"type":"string","enum":["ks1","ks2","ks3","ks4"]},"description":"Key stage slug to filter by, e.g. 'ks2' - note that casing is important here, and should be lowercase"},{"name":"subject","in":"path","required":true,"schema":{"type":"string","enum":["english","geography","history","maths","science","music","biology","chemistry","combined-science","physics"]},"description":"Subject slug to search by, e.g. 'science' - note that casing is important here"},{"name":"offset","in":"query","required":false,"schema":{"anyOf":[{"not":{}},{"type":"number"}],"default":0}},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"not":{}},{"type":"number","maximum":100,"description":"Limit the number of results returned, max 100"}],"default":10},"description":"Limit the number of results returned, max 100"}],"responses":{"200":{"$ref":"#/components/responses/KeyStagesKeyStageSubjectSubjectQuestionsResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/key-stages/{keyStage}/subject/{subject}/units":{"get":{"operationId":"getAllKeyStageAndSubjectUnitsGetAllKeyStageAndSubjectUnits","description":"This endpoint returns all the units (titles and slugs) that are currently available on Oak for a given subject and key stage","tags":["lists"],"parameters":[{"name":"keyStage","in":"path","required":true,"schema":{"type":"string","enum":["ks1","ks2","ks3","ks4"]},"description":"Key stage slug to filter by, e.g. 'ks2'"},{"name":"subject","in":"path","required":true,"schema":{"type":"string","enum":["english","geography","history","maths","science","music","biology","chemistry","combined-science","physics"]},"description":"Subject slug to search by, e.g. 'science' - note that casing is important here (always lowercase)"}],"responses":{"200":{"$ref":"#/components/responses/KeyStagesKeyStageSubjectSubjectUnitsResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/key-stages/{keyStage}/subjects":{"get":{"operationId":"getKeyStagesGetKeyStageSubjects","description":"This endpoint returns all the subjects (titles and slugs) that are currently available on Oak for a given key stage","tags":["lists"],"parameters":[{"name":"keyStage","in":"path","required":true,"schema":{"type":"string","enum":["ks1","ks2","ks3","ks4"]},"description":"Key stage slug to filter by, e.g. 'ks2' - note that casing is important here, and should be lowercase"}],"responses":{"200":{"$ref":"#/components/responses/KeyStagesKeyStageSubjectsResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/lessons/{lesson}/assets":{"get":{"operationId":"getAssetsGetLessonAssets","description":"This endpoint returns signed download URLS and types for the assets currently available on Oak for a given lesson","tags":["assets","lessons"],"parameters":[{"name":"lesson","in":"path","required":true,"schema":{"type":"string"},"description":"The lesson slug","example":"child-workers-in-the-victorian-era"},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["slidedeck","exitQuiz","exitQuizAnswers","starterQuiz","starterQuizAnswers","supplementaryResource","video","worksheet","worksheetAnswers"]},"description":"Use the this type and the lesson slug in conjunction to get a signed download URL to the asset type from the /api/download endpoint"}],"responses":{"200":{"$ref":"#/components/responses/LessonsLessonAssetsResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/lessons/{lesson}/quiz":{"get":{"operationId":"getQuestionsGetQuestionsForLessons","description":"This endpoint returns the quiz questions and answers (and indicates which answers are correct and which are distractors) for a given lesson","tags":["lessons","questions"],"parameters":[{"name":"lesson","in":"path","required":true,"schema":{"type":"string"},"example":"joining-using-and"}],"responses":{"200":{"$ref":"#/components/responses/LessonsLessonQuizResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/lessons/{lesson}/summary":{"get":{"operationId":"getLessonsGetLesson","description":"This endpoint returns a summary for a given lesson","tags":["lessons"],"parameters":[{"name":"lesson","in":"path","required":true,"schema":{"type":"string"},"description":"The slug of the lesson","example":"joining-using-and"}],"responses":{"200":{"$ref":"#/components/responses/LessonsLessonSummaryResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/search/lessons":{"get":{"operationId":"getLessonsSearchByTextSimilarity","description":"This endpoint returns lessons that are similar to the search criteria, including a similarity score, and details of the unit that it is in","tags":["lessons","search"],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"},"example":"chratchet"},{"name":"keyStage","in":"query","required":false,"schema":{"type":"string","enum":["ks1","ks2","ks3","ks4"]},"description":"Key stage slug to filter by, e.g. 'ks2' - note that casing is important here, and should be lowercase"},{"name":"subject","in":"query","required":false,"schema":{"type":"string","enum":["english","geography","history","maths","science","music","biology","chemistry","combined-science","physics"]},"description":"Subject slug to filter by, e.g. 'english' - note that casing is important here, and should be lowercase","example":"english"},{"name":"unit","in":"query","required":false,"schema":{"type":"string"},"description":"Optional unit slug to additionally filter by"}],"responses":{"200":{"$ref":"#/components/responses/SearchLessonsResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/search/transcripts":{"get":{"operationId":"getTranscriptsSearchTranscripts","description":"Search for a term and find lessons that contain similar text in their video transcripts","tags":["search"],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"},"description":"A snippet of text to search for in the lesson video transcripts","example":"Who were the romans?"}],"responses":{"200":{"$ref":"#/components/responses/SearchTranscriptsResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/subjects":{"get":{"operationId":"subjectsGetAllSubjects","description":"This endpoint returns an array of all subjects that are currently available on Oak across all key stages","tags":["lists"],"parameters":[],"responses":{"200":{"$ref":"#/components/responses/SubjectsResponse200"},"default":{"$ref":"#/components/responses/error"}}}},"/units/{unit}/summary":{"get":{"operationId":"getUnitsGetUnit","description":"This endpoint returns unit information for a given unit, including slug, title, number of lessons, prior knowledge requirements, national curriculum statements, prior unit details, future unit descriptions, and lesson titles that form the unit","tags":["units"],"parameters":[{"name":"unit","in":"path","required":true,"schema":{"type":"string"},"description":"The unit slug","example":"simple-compound-and-adverbial-complex-sentences"}],"responses":{"200":{"$ref":"#/components/responses/UnitsUnitSummaryResponse200"},"default":{"$ref":"#/components/responses/error"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"responses":{"error":{"description":"Error response","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"additionalProperties":false}}},"required":["message","code"],"additionalProperties":false}}}},"ChangelogResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Changelog"}}}},"ChangelogLatestResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangelogLatest"},"example":{"version":"0.3.0","date":"2024-10-21","changes":["Add `attribution` to asset endpoints"]}}}},"DownloadSlugTypeTypeResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadSlugTypeType"},"example":[{"url":"https://example.com/video.mp4","stream":false,"type":"video"}]}}},"KeyStagesResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyStages"},"example":[{"slug":"ks1","title":"Key Stage 1"}]}}},"KeyStagesKeyStageSubjectSubjectAssetsResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyStagesKeyStageSubjectSubjectAssets"},"example":[{"lessonSlug":"nouns-singular-and-plural","lessonTitle":"Nouns: singular and plural","attribution":["Copyright XYZ Authors","Creative Commons Attribution Example 4.0"],"assets":[{"type":"slidedeck","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/slidedeck'"},{"type":"exitQuiz","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/exitQuiz'"},{"type":"exitQuizAnswers","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/exitQuizAnswers'"},{"type":"starterQuiz","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/starterQuiz'"},{"type":"starterQuizAnswers","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/starterQuizAnswers'"},{"type":"video","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/video'"},{"type":"worksheet","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/worksheet'"},{"type":"worksheetAnswers","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/worksheetAnswers'"}]}]}}},"KeyStagesKeyStageSubjectSubjectLessonsResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyStagesKeyStageSubjectSubjectLessons"},"example":[{"unitSlug":"simple-compound-and-adverbial-complex-sentences","unitTitle":"Simple, compound and adverbial complex sentences","lessons":[{"lessonSlug":"four-types-of-simple-sentence","lessonTitle":"Four types of simple sentence"},{"lessonSlug":"three-ways-for-co-ordination-in-compound-sentences","lessonTitle":"Three ways for co-ordination in compound sentences"}]}]}}},"KeyStagesKeyStageSubjectSubjectQuestionsResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyStagesKeyStageSubjectSubjectQuestions"},"example":[{"lessonSlug":"joining-using-and","lessonTitle":"Joining using 'and'","questions":[{"question":"Which word is a verb?","answers":[{"answer":"shops","distractor":true},{"answer":"Jun","distractor":true},{"answer":"I","distractor":true},{"answer":"shout","distractor":false}]}]}]}}},"KeyStagesKeyStageSubjectSubjectUnitsResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyStagesKeyStageSubjectSubjectUnits"},"example":[{"unitTitle":"Simple, compound and adverbial complex sentences","unitSlug":"simple-compound-and-adverbial-complex-sentences"}]}}},"KeyStagesKeyStageSubjectsResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyStagesKeyStageSubjects"},"example":[{"subjectSlug":"english","subjectTitle":"English"},{"subjectSlug":"geography","subjectTitle":"Geography"}]}}},"LessonsLessonAssetsResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonsLessonAssets"},"example":{"attribution":["Copyright XYZ Authors","Creative Commons Attribution Example 4.0"],"assets":[{"type":"slidedeck","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/slidedeck'"},{"type":"exitQuiz","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/exitQuiz'"},{"type":"exitQuizAnswers","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/exitQuizAnswers'"},{"type":"starterQuiz","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/starterQuiz'"},{"type":"starterQuizAnswers","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/starterQuizAnswers'"},{"type":"video","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/video'"},{"type":"worksheet","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/worksheet'"},{"type":"worksheetAnswers","url":"https://open-api.thenational.academy/api/v0/api/v0/download/nouns-singular-and-plural/type/worksheetAnswers'"}]}}}},"LessonsLessonQuizResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonsLessonQuiz"},"example":[{"question":"What is a main clause?","questionType":"multiple-choice","answers":[{"answer":"a list of nouns","distractor":true},{"answer":"a group of words that contains a verb and makes complete sense","distractor":false},{"answer":"a word class","distractor":true},{"answer":"a group of words with no verb","distractor":true}]}]}}},"LessonsLessonSummaryResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonsLessonSummary"},"example":{"lessonTitle":"Joining using 'and'","unitSlug":"simple-sentences","unitTitle":"Simple sentences","subjectSlug":"english","subjectTitle":"English","keyStageSlug":"ks1","keyStageTitle":"Key Stage 1","lessonKeywords":[{"keyword":"joining word","description":"a word that joins words or ideas"},{"keyword":"build on","description":"add to"},{"keyword":"related","description":"linked to"}],"keyLearningPoints":[{"keyLearningPoint":"And is a type of joining word."},{"keyLearningPoint":"A joining word can join two simple sentences."},{"keyLearningPoint":"Each simple sentence is about one idea and makes complete sense."},{"keyLearningPoint":"The second idea builds on to the first idea if ‘and’ is used to join them."},{"keyLearningPoint":"Grammatically accurate sentences start with capital letters and most often end with full stops."}],"misconceptionsAndCommonMistakes":[{"misconception":"Pupils may struggle to link related ideas together.","response":"Give some non-examples to show what it sounds like when two ideas are unrelated e.g. Dad baked bread and she missed her sister."}],"pupilLessonOutcome":"I can join two simple sentences with 'and'.","teacherTips":[{"teacherTip":"In Learning Cycle 1, make sure pupils are given plenty of opportunities to say sentences orally and hear that they make complete sense."}],"contentGuidance":null,"supervisionLevel":null,"downloadsAvailable":true}}}},"SearchLessonsResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchLessons"},"example":[{"lessonSlug":"gothic-characters-c8tp4d","lessonTitle":"Gothic characters","similarity":0.07692308,"units":[{"unitSlug":"gothic-literature-8196","unitTitle":"Gothic Literature","examBoardTitle":null,"keyStageSlug":"ks3","subjectSlug":"english"}]},{"lessonSlug":"columbus-in-chains-c8ukct","lessonTitle":"Columbus in Chains","similarity":0.07692308,"units":[{"unitSlug":"annie-john-by-jamaica-kincaid-c5ab","unitTitle":"Annie John by Jamaica Kincaid","examBoardTitle":null,"keyStageSlug":"ks3","subjectSlug":"english"}]}]}}},"SearchTranscriptsResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchTranscripts"},"example":[{"lessonTitle":"The Roman invasion of Britain ","lessonSlug":"the-roman-invasion-of-britain","transcriptSnippet":"The Romans were ready,"},{"lessonTitle":"The changes to life brought about by Roman settlement","lessonSlug":"the-changes-to-life-brought-about-by-roman-settlement","transcriptSnippet":"when the Romans came."},{"lessonTitle":"Boudica's rebellion against Roman rule","lessonSlug":"boudicas-rebellion-against-roman-rule","transcriptSnippet":"kings who resisted the Romans were,"},{"lessonTitle":"How far religion changed under Roman rule","lessonSlug":"how-far-religion-changed-under-roman-rule","transcriptSnippet":"for the Romans."}]}}},"SubjectsResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Subjects"},"example":[{"subjectTitle":"English","subjectSlug":"english","keyStages":["ks1","ks2","ks3","ks4"]},{"subjectTitle":"Geography","subjectSlug":"geography","keyStages":["ks1","ks2"]}]}}},"UnitsUnitSummaryResponse200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnitsUnitSummary"},"example":{"unitSlug":"simple-compound-and-adverbial-complex-sentences","unitTitle":"Simple, compound and adverbial complex sentences","tags":["Grammar"],"priorKnowledgeRequirements":["A simple sentence is about one idea and makes complete sense.","Any simple sentence contains one verb and at least one noun.","Two simple sentences can be joined with a co-ordinating conjunction to form a compound sentence."],"nationalCurriculumContent":["Ask relevant questions to extend their understanding and knowledge","Articulate and justify answers, arguments and opinions","Speak audibly and fluently with an increasing command of Standard English"],"priorUnit":{"description":"In 'Adverbial complex sentences', pupils built on from co-ordination to how to stretch a simple sentence with subordination and a second idea. In this unit, pupils will learn that the position of the subordinate clause in an adverbial complex sentence can vary.","units":[{"unitSlug":"adverbial-complex-sentences","unitTitle":"Adverbial complex sentences"}]},"futureUnit":{"description":"In this unit, pupils learn that the position of the subordinate clause in an adverbial complex sentence can vary. In 'Simple and progressive tense forms', pupils will write a variety of sentence structures in different tenses.","units":[{"unitSlug":"tense-forms-simple-progressive-and-perfect","unitTitle":"Tense forms: simple, progressive and perfect"}]},"unitLessons":[{"lessonSlug":"three-ways-for-co-ordination-in-compound-sentences","lessonTitle":"Three ways for co-ordination in compound sentences"},{"lessonSlug":"compound-and-adverbial-complex-sentences-revision","lessonTitle":"Compound and adverbial complex sentences revision"}]}}}}},"schemas":{"Changelog":{"type":"array","items":{"type":"object","properties":{"version":{"type":"string"},"date":{"type":"string"},"changes":{"type":"array","items":{"type":"string"}}},"required":["version","date","changes"],"additionalProperties":false}},"ChangelogLatest":{"type":"object","properties":{"version":{"type":"string"},"date":{"type":"string"},"changes":{"type":"array","items":{"type":"string"}}},"required":["version","date","changes"],"additionalProperties":false},"DownloadSlugTypeType":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","description":"The downloadable URL"},"stream":{"type":"boolean","description":"Only present on videos when no direct download/mp4 url is available"},"signed":{"type":"boolean","description":"Used for non-video assets, the URL will be signed and valid for 1 hour"},"type":{"type":"string","enum":["slidedeck","exitQuiz","exitQuizAnswers","starterQuiz","starterQuizAnswers","supplementaryResource","video","worksheet","worksheetAnswers"],"description":"Use the this type and the lesson slug in conjunction to get a signed download URL to the asset type from the /api/download endpoint"}},"required":["url","type"],"additionalProperties":false}},"KeyStages":{"type":"array","items":{"type":"object","properties":{"slug":{"type":"string"},"title":{"type":"string"}},"required":["slug","title"],"additionalProperties":false}},"KeyStagesKeyStageSubjectSubjectAssets":{},"KeyStagesKeyStageSubjectSubjectLessons":{"type":"array","items":{"type":"object","properties":{"unitSlug":{"type":"string","description":"Unit slug"},"unitTitle":{"type":"string","description":"Unit title"},"lessons":{"type":"array","items":{"type":"object","properties":{"lessonSlug":{"type":"string","description":"Lesson slug"},"lessonTitle":{"type":"string","description":"Lesson title"}},"required":["lessonSlug","lessonTitle"],"additionalProperties":false}}},"required":["unitSlug","unitTitle","lessons"],"additionalProperties":false}},"KeyStagesKeyStageSubjectSubjectQuestions":{"type":"array","items":{"type":"object","properties":{"lessonSlug":{"type":"string"},"lessonTitle":{"type":"string"},"starterQuiz":{"type":"array","items":{"allOf":[{"type":"object","properties":{"question":{"type":"string"},"questionType":{"anyOf":[{"type":"string","enum":["multiple-choice"]},{"type":"string","enum":["short-answer"]},{"type":"string","enum":["match"]},{"type":"string","enum":["order"]}]}},"required":["question","questionType"]},{"anyOf":[{"type":"object","properties":{"questionType":{"type":"string","enum":["multiple-choice"]},"answers":{"type":"array","items":{"allOf":[{"type":"object","properties":{"distractor":{"type":"boolean"}},"required":["distractor"]},{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["image"]},"content":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":"number"},"height":{"type":"number"},"alt":{"type":"string"},"text":{"type":"string","description":"Supplementary text for the image, if any"}},"required":["url","width","height"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false}]}]}}},"required":["questionType","answers"],"additionalProperties":false,"description":"Multiple choice answer allows for one or more than one answer to be correct as defined by the distractor field being set to false"},{"type":"object","properties":{"questionType":{"type":"string","enum":["short-answer"]},"answers":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false}}},"required":["questionType","answers"],"additionalProperties":false,"description":"Short answers allow students to enter a free text answer, and the answers array contains a list of acceptable answers"},{"type":"object","properties":{"questionType":{"type":"string","enum":["match"]},"answers":{"type":"array","items":{"type":"object","properties":{"matchOption":{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false},"correctChoice":{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false}},"required":["matchOption","correctChoice"],"additionalProperties":false}}},"required":["questionType","answers"],"additionalProperties":false,"description":"The student is offered a list from the `match_option` field in the answers array, and must correctly match them to the `correct_choice` value"},{"type":"object","properties":{"questionType":{"type":"string","enum":["order"]},"answers":{"type":"array","items":{"allOf":[{"type":"object","properties":{"order":{"type":"number"}},"required":["order"]},{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"]}]}}},"required":["questionType","answers"],"additionalProperties":false,"description":"The student is offered a list of items to order, and must correctly order them according to the `order` field. When presenting the answer options to the student, you should randomise the order of the items"}]}]}},"exitQuiz":{"type":"array","items":{"allOf":[{"type":"object","properties":{"question":{"type":"string"},"questionType":{"anyOf":[{"type":"string","enum":["multiple-choice"]},{"type":"string","enum":["short-answer"]},{"type":"string","enum":["match"]},{"type":"string","enum":["order"]}]}},"required":["question","questionType"]},{"anyOf":[{"type":"object","properties":{"questionType":{"type":"string","enum":["multiple-choice"]},"answers":{"type":"array","items":{"allOf":[{"type":"object","properties":{"distractor":{"type":"boolean"}},"required":["distractor"]},{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["image"]},"content":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":"number"},"height":{"type":"number"},"alt":{"type":"string"},"text":{"type":"string","description":"Supplementary text for the image, if any"}},"required":["url","width","height"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false}]}]}}},"required":["questionType","answers"],"additionalProperties":false,"description":"Multiple choice answer allows for one or more than one answer to be correct as defined by the distractor field being set to false"},{"type":"object","properties":{"questionType":{"type":"string","enum":["short-answer"]},"answers":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false}}},"required":["questionType","answers"],"additionalProperties":false,"description":"Short answers allow students to enter a free text answer, and the answers array contains a list of acceptable answers"},{"type":"object","properties":{"questionType":{"type":"string","enum":["match"]},"answers":{"type":"array","items":{"type":"object","properties":{"matchOption":{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false},"correctChoice":{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false}},"required":["matchOption","correctChoice"],"additionalProperties":false}}},"required":["questionType","answers"],"additionalProperties":false,"description":"The student is offered a list from the `match_option` field in the answers array, and must correctly match them to the `correct_choice` value"},{"type":"object","properties":{"questionType":{"type":"string","enum":["order"]},"answers":{"type":"array","items":{"allOf":[{"type":"object","properties":{"order":{"type":"number"}},"required":["order"]},{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"]}]}}},"required":["questionType","answers"],"additionalProperties":false,"description":"The student is offered a list of items to order, and must correctly order them according to the `order` field. When presenting the answer options to the student, you should randomise the order of the items"}]}]}}},"required":["lessonSlug","lessonTitle","starterQuiz","exitQuiz"],"additionalProperties":false}},"KeyStagesKeyStageSubjectSubjectUnits":{"type":"array","items":{"type":"object","properties":{"unitTitle":{"type":"string","description":"Unit title"},"unitSlug":{"type":"string","description":"Unit slug"}},"required":["unitTitle","unitSlug"],"additionalProperties":false}},"KeyStagesKeyStageSubjects":{"type":"array","items":{"type":"object","properties":{"subjectSlug":{"type":"string"},"subjectTitle":{"type":"string"}},"required":["subjectSlug","subjectTitle"],"additionalProperties":false}},"LessonsLessonAssets":{},"LessonsLessonQuiz":{"type":"object","properties":{"starterQuiz":{"type":"array","items":{"allOf":[{"type":"object","properties":{"question":{"type":"string"},"questionType":{"anyOf":[{"type":"string","enum":["multiple-choice"]},{"type":"string","enum":["short-answer"]},{"type":"string","enum":["match"]},{"type":"string","enum":["order"]}]}},"required":["question","questionType"]},{"anyOf":[{"type":"object","properties":{"questionType":{"type":"string","enum":["multiple-choice"]},"answers":{"type":"array","items":{"allOf":[{"type":"object","properties":{"distractor":{"type":"boolean"}},"required":["distractor"]},{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["image"]},"content":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":"number"},"height":{"type":"number"},"alt":{"type":"string"},"text":{"type":"string","description":"Supplementary text for the image, if any"}},"required":["url","width","height"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false}]}]}}},"required":["questionType","answers"],"additionalProperties":false,"description":"Multiple choice answer allows for one or more than one answer to be correct as defined by the distractor field being set to false"},{"type":"object","properties":{"questionType":{"type":"string","enum":["short-answer"]},"answers":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false}}},"required":["questionType","answers"],"additionalProperties":false,"description":"Short answers allow students to enter a free text answer, and the answers array contains a list of acceptable answers"},{"type":"object","properties":{"questionType":{"type":"string","enum":["match"]},"answers":{"type":"array","items":{"type":"object","properties":{"matchOption":{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false},"correctChoice":{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false}},"required":["matchOption","correctChoice"],"additionalProperties":false}}},"required":["questionType","answers"],"additionalProperties":false,"description":"The student is offered a list from the `match_option` field in the answers array, and must correctly match them to the `correct_choice` value"},{"type":"object","properties":{"questionType":{"type":"string","enum":["order"]},"answers":{"type":"array","items":{"allOf":[{"type":"object","properties":{"order":{"type":"number"}},"required":["order"]},{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"]}]}}},"required":["questionType","answers"],"additionalProperties":false,"description":"The student is offered a list of items to order, and must correctly order them according to the `order` field. When presenting the answer options to the student, you should randomise the order of the items"}]}]}},"exitQuiz":{"type":"array","items":{"allOf":[{"type":"object","properties":{"question":{"type":"string"},"questionType":{"anyOf":[{"type":"string","enum":["multiple-choice"]},{"type":"string","enum":["short-answer"]},{"type":"string","enum":["match"]},{"type":"string","enum":["order"]}]}},"required":["question","questionType"]},{"anyOf":[{"type":"object","properties":{"questionType":{"type":"string","enum":["multiple-choice"]},"answers":{"type":"array","items":{"allOf":[{"type":"object","properties":{"distractor":{"type":"boolean"}},"required":["distractor"]},{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["image"]},"content":{"type":"object","properties":{"url":{"type":"string"},"width":{"type":"number"},"height":{"type":"number"},"alt":{"type":"string"},"text":{"type":"string","description":"Supplementary text for the image, if any"}},"required":["url","width","height"],"additionalProperties":false}},"required":["type","content"],"additionalProperties":false}]}]}}},"required":["questionType","answers"],"additionalProperties":false,"description":"Multiple choice answer allows for one or more than one answer to be correct as defined by the distractor field being set to false"},{"type":"object","properties":{"questionType":{"type":"string","enum":["short-answer"]},"answers":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false}}},"required":["questionType","answers"],"additionalProperties":false,"description":"Short answers allow students to enter a free text answer, and the answers array contains a list of acceptable answers"},{"type":"object","properties":{"questionType":{"type":"string","enum":["match"]},"answers":{"type":"array","items":{"type":"object","properties":{"matchOption":{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false},"correctChoice":{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"],"additionalProperties":false}},"required":["matchOption","correctChoice"],"additionalProperties":false}}},"required":["questionType","answers"],"additionalProperties":false,"description":"The student is offered a list from the `match_option` field in the answers array, and must correctly match them to the `correct_choice` value"},{"type":"object","properties":{"questionType":{"type":"string","enum":["order"]},"answers":{"type":"array","items":{"allOf":[{"type":"object","properties":{"order":{"type":"number"}},"required":["order"]},{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"content":{"type":"string"}},"required":["type","content"]}]}}},"required":["questionType","answers"],"additionalProperties":false,"description":"The student is offered a list of items to order, and must correctly order them according to the `order` field. When presenting the answer options to the student, you should randomise the order of the items"}]}]}}},"required":["starterQuiz","exitQuiz"],"additionalProperties":false},"LessonsLessonSummary":{"type":"object","properties":{"lessonTitle":{"type":"string"},"unitSlug":{"type":"string"},"unitTitle":{"type":"string"},"subjectSlug":{"type":"string"},"subjectTitle":{"type":"string"},"keyStageSlug":{"type":"string"},"keyStageTitle":{"type":"string"},"lessonKeywords":{"type":"array","items":{"type":"object","properties":{"keyword":{"type":"string"},"description":{"type":"string"}},"required":["keyword","description"],"additionalProperties":false}},"keyLearningPoints":{"type":"array","items":{"type":"object","properties":{"keyLearningPoint":{"type":"string"}},"required":["keyLearningPoint"],"additionalProperties":false}},"misconceptionsAndCommonMistakes":{"type":"array","items":{"type":"object","properties":{"misconception":{"type":"string"},"response":{"type":"string"}},"required":["misconception","response"],"additionalProperties":false}},"pupilLessonOutcome":{"type":"string"},"teacherTips":{"type":"array","items":{"type":"object","properties":{"teacherTip":{"type":"string"}},"required":["teacherTip"],"additionalProperties":false}},"contentGuidance":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"contentGuidanceArea":{"type":"string"},"supervisionlevel_id":{"type":"number"},"contentGuidanceLabel":{"type":"string"},"contentGuidanceDescription":{"type":"string"}},"required":["contentGuidanceArea","supervisionlevel_id","contentGuidanceLabel","contentGuidanceDescription"],"additionalProperties":false}},{"enum":["null"],"nullable":true}]},"supervisionLevel":{"anyOf":[{"type":"string"},{"enum":["null"],"nullable":true}]},"downloadsAvailable":{"type":"boolean"}},"required":["lessonTitle","unitSlug","unitTitle","subjectSlug","subjectTitle","keyStageSlug","keyStageTitle","lessonKeywords","keyLearningPoints","misconceptionsAndCommonMistakes","teacherTips","contentGuidance","supervisionLevel","downloadsAvailable"],"additionalProperties":false},"SearchLessons":{"type":"array","items":{"type":"object","properties":{"lessonSlug":{"type":"string"},"lessonTitle":{"type":"string"},"similarity":{"type":"number"},"units":{"type":"array","items":{"type":"object","properties":{"unitSlug":{"type":"string"},"unitTitle":{"type":"string"},"examBoardTitle":{"anyOf":[{"type":"string"},{"enum":["null"],"nullable":true}]},"keyStageSlug":{"type":"string"},"subjectSlug":{"type":"string"}},"required":["unitSlug","unitTitle","examBoardTitle","keyStageSlug","subjectSlug"],"additionalProperties":false}}},"required":["lessonSlug","lessonTitle","similarity","units"],"additionalProperties":false}},"SearchTranscripts":{"type":"array","items":{"type":"object","properties":{"lessonTitle":{"type":"string"},"lessonSlug":{"type":"string"},"transcriptSnippet":{"type":"string"}},"required":["lessonTitle","lessonSlug"],"additionalProperties":false}},"Subjects":{},"UnitsUnitSummary":{"type":"object","properties":{"unitSlug":{"type":"string"},"unitTitle":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"priorKnowledgeRequirements":{"type":"array","items":{"type":"string"}},"nationalCurriculumContent":{"type":"array","items":{"type":"string"}},"priorUnit":{"type":"object","properties":{"description":{"type":"string"},"units":{"type":"array","items":{"type":"object","properties":{"unitSlug":{"type":"string"},"unitTitle":{"type":"string"}},"required":["unitSlug","unitTitle"],"additionalProperties":false}}},"required":["description","units"],"additionalProperties":false},"futureUnit":{"type":"object","properties":{"description":{"type":"string"},"units":{"type":"array","items":{"type":"object","properties":{"unitSlug":{"type":"string"},"unitTitle":{"type":"string"}},"required":["unitSlug","unitTitle"],"additionalProperties":false}}},"required":["description","units"],"additionalProperties":false},"unitLessons":{"type":"array","items":{"type":"object","properties":{"lessonSlug":{"type":"string"},"lessonTitle":{"type":"string"}},"required":["lessonSlug","lessonTitle"],"additionalProperties":false}}},"required":["unitSlug","unitTitle","tags","priorKnowledgeRequirements","nationalCurriculumContent","priorUnit","futureUnit","unitLessons"],"additionalProperties":false}}},"externalDocs":{"url":"https://open-api.thenational.academy/api/v0/swagger.json"},"security":[{"bearerAuth":[]}]}